@font-face {
  font-family: "edge";
  src:url(../fonts/edge.ttf);
}

html, body {
  font-size:24px;
  font-family: "Slabo", sans-serif;
  color:#191923;
}
body {
  padding:0;
  margin:0;
  background-color:#FBFEF9;
}
.link-text {
  color:#0E79B2;
  font-weight: bold;
}
.section .link-text {
  color:#F39237;
}
p {

  font-family:"Lato";
  font-size:.8rem;
}
.form-inpt {
  border:1px solid #191923;
  padding:.125em .5em;
  box-sizing: border-box;
  font-size:.8rem;
}
button.form-inpt {
  padding:.5em 1em;
  border:1px solid #191923;
  background-color:#F39237  ;
  color:#FFFFFF;
  font-family:"Francois One", sans-serif;
  cursor: pointer;
}
.btn {
  background:none;
  border:none;
  cursor: pointer;
}
.title {
  font-family:"Squada one", sans-serif;
  margin:0;
  text-transform: uppercase;
}
.container {
  width:90%;
  margin:0 auto;
}
.section {
  margin-bottom:10vh;
  padding:5vh 0;
  box-sizing: border-box;
}
.header.section {
  margin:0;
  padding:0;
}
.section__cols {
  display:flex;
  justify-content: space-between;
  height:100%;
}

.section__cols-item {
  flex:1;
  margin-right:1em;
}
.section__cols-item:last-child {
  margin-right:0;
}
.header {
  width:100%;
}
.header__top-bar {
  width:100%;
  box-sizing: border-box;
  padding:.5em 1em;
  display: flex;
  justify-content: space-between;
  transition: all .6s ease;
}
.header__top-bar.sticky {
  position: fixed;
  top:0;
  left:0;
  z-index: 98;
  color:white;
  background:#0E79B2;
  box-shadow:1px 1px 5px black;
}

.header__top-bar__logo{
  text-transform: none;
}
.header__top-bar__logo a {
  text-decoration: none;
  color:#191923;
  font-family:"edge", sans-serif;
  font-size:2.5rem;
  justify-content: center;
  display: flex;
}
.header__top-bar__logo img {
  width:5vw;
  height:100%;
}
.header__top-bar__logo div {
  margin-left:.5em;
}
.header__top-bar__logo span {
  color:#BF1363;
}
.header__top-bar__btn-menu {
  flex:0 1 auto;
}
.header__top-bar__btn-menu img, .header__top-bar__btn-contact img {
 width:80%;
}

.header__header {
  width:100%;
  display: flex;
  height:100%;
  box-sizing: border-box;
  justify-content: space-between;
}
.header__header__ninja {
  flex:1;
}
.header__header__ninja img {
  width:100%;
}
.header__header__titles {
  box-sizing: border-box;
  flex:1;
  display: flex;
  flex-direction: column;
  list-style-type:none;
  justify-content: space-between;
}

.header__header__titles-item {
  margin-bottom:.25em;
  font-size:2.3rem;
  flex:1;
  font-family:"Amatic SC", sans-serif;
  color:#191923;
  text-transform: uppercase;
  text-align: center;
}



.section-about {
  position: relative;
  height:100%;
  background:#0E79B2;
  width:100%;
  padding-bottom:2em;
  box-sizing: border-box;
  margin-bottom:20vh;
}
.section-about:before, .section-about:after {
  content: '';
  height:0;
  width:0;
  position: absolute;
}
.section-about:before {
  top:-10vh;
  right:0;
  border-left:98vw solid transparent;
 border-bottom:10vh solid #0E79B2;

}
.section-about:after {
  bottom:-10vh;
  left:0;
  border-bottom:10vh solid transparent;
 border-left:98vw solid #0E79B2;
}

.section-about__title {
  color:#FFFFFF;
  font-size:1.8rem;
    border-bottom:3px solid #FFFFFF;
}
.section-about__content {
  margin-top:1em;
  color:#FFFFFF;
}
.section-about__content-item img {
  margin:0 auto;
  width:25%;
  display:block;
}
.section-about__content-title {
  text-align:center;
  margin:.5em 0;
  color:#FFFFFF;
  font-size:1.5rem;
}
.section-about__content-text {
  font-size:.76em;
}
.section-websites {
  padding:2em 0;
  box-sizing: border-box;
}
.section-websites__title {
  border-bottom:3px solid #191923;
}
.section-websites__list {
  list-style: none;
  display: flex;
  padding:0;
  padding-bottom:-0.01em;
  box-sizing: border-box;
  border-bottom:2px solid #BF1363;
}
.section-websites__list-item {
  flex:0 1 auto;
}
.section-websites__list-item-btn {
  padding:.125em .5em;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size:1.1rem;
  outline:0;
  text-align: center;
  font-family:"Squada One", serif;
  transition: all 1s ease;
}
.section-websites__list-item-btn.active, .section-websites__list-item-btn:hover, .section-websites__list-item-btn:focus {
  background:#BF1363;
  color:#FFFFFF;
}
.sections-websites-switch {
  box-sizing: border-box;
  justify-content: space-between;
  display:none;
  opacity:0;
  transition: opacity 1s ease;
}
.sections-websites-switch.active-block {
  display:flex;
}
.sections-websites-switch.active-opacity {
  opacity:1;
}
.section-websites__main-paragraph {
  flex:1;
  padding: 0;
  margin: 0;
  margin-right:1em;
}
.section-websites__main-photo {
  width:50%;
  flex:1;
  height:100%;
}

.section-seo {
  width:100%;
  height:100%;
  position: relative;
  background:#BF1363;
}
.section-seo:before, .section-seo:after {
  content: '';
  position: absolute;
  width:0;
  height:0;
}
.section-seo:before {
  top:-10vh;
  left:0;
  border-right:98vw solid transparent;
 border-bottom:10vh solid #BF1363;
}
.section-seo:after {
  bottom:-10vh;
  right:0;
  border-bottom:10vh solid transparent;
   border-right:98vw solid #BF1363;
}
.section-seo__title {
  color:#FFFFFF;
  border-bottom:3px solid #FFFFFF;
}
.section-seo__main {
  padding: 1em 0;
  box-sizing: border-box;
}
.section-seo__main-photo {
  width:50%;
  flex:1;
  height:100%;
}
.section-seo__main-paragraph {
  margin:0;
  color:white;
  margin-right:1em;
  flex:1;
}
.section-ebook {
  position: relative;
  height:100%;
  background:#0E79B2;
  width:100%;
  padding-bottom:2em;
  color:white;
  box-sizing: border-box;
  margin-bottom:20vh;
}
.section-ebook__title {
  border-bottom:3px solid white;
}
.section-ebook:before, .section-ebook:after {
  content: '';
  position: absolute;
  width:0;
  height:0;
}
.section-ebook:before {
  top:-10vh;
  right:0;
  border-left:98vw solid transparent;
 border-bottom:10vh solid #0E79B2;
}
.section-ebook:after {
  bottom:-10vh;
  left:0;
  border-bottom:10vh solid transparent;
 border-left:98vw solid #0E79B2;
}
.section-ebook__main {
  display:flex;
  padding:1em 0;
  box-sizing: border-box;
  justify-content: space-between;
}
.section-ebook__main-paragraph {
  margin:0;
  flex:1;
}
.section-ebook__main__list {
  margin:0;
  flex:1;
}
.section-ebook__main__list-item-title {
  font-family:"Francois One", sans-serif;
    font-size:1rem;
}
.section-ebook__main__list-item {
  margin-bottom:.25em;
  font-size:.8rem;
}
.section-rwd {
  padding:10vh 0;

}
.section-rwd__title {
  border-bottom: 3px solid #191923;
}
.section-rwd__main {
  padding:0;
  margin:0;
  display:flex;
  justify-content:
}
.section-rwd__main-paragraph {
  flex:1;
}
.section-rwd__main-photo {
  flex:1;
  width:50%;
  height:100%;

}
.section-portfolio__title {
  border-bottom:3px solid #191923;
}
.section-portfolio__list {
  list-style: none;
  margin:0;
  padding:0;
  padding-top:2em;
  display:flex;
  justify-content: space-between;
}
.section-portfolio__list-item {
  flex:1;
  margin-right:1em;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.section-portfolio__list-item:hover:before {
  transform:translate(0%, 40%);

}
.section-portfolio__list-item:before {
  content:url("../images/link.png");
  background:#0E79B2;
  position: absolute;
  height:auto;
  text-align: center;
  transform: translate(0%, -100%);
  width:100%;
  transition: all .5s ease;
}
.section-portfolio__list-item:last-child {
  margin:0;
}
.section-portfolio__list-item img {
  width:100%;
  min-height: 40vh;
  object-fit: contain;
}
.section-portfolio__list-item span {
  color:#191923;
  width:100%;
  text-align: center;
  display: block;
  font-size:.7rem;
}
.section-portfolio__list-title {
  text-align:center;
  text-transform: uppercase;
  font-family:"Amatic SC", sans-serif;
  margin:0;
  font-size:2rem;
  color:#0E79B2;
}
.section-contact__title {
  border-bottom:3px solid #191923;
}
.section-contact__main {
  display: flex;
  padding:1em 0;
  box-sizing: border-box;

}
.section-contact__main-paragraph {
  margin:0;
  flex:1;
  font-size:1rem;
}
.section-contact__main-form {
  flex:1;
}
.section-contact__main-paragraph__adress {
  display:block;
  margin-top:1em;
}
.section-contact__main-paragraph__adress-data {
  margin-right:.5em;
  text-transform: uppercase;
  font-family:"Squada One", sans-serif;
  font-size:1rem;
}
.section-contact__main-paragraph__adress-description {
  font-size:.9rem;
}
 .section-contact__main-form {
   font-family:"Francois One", sans-serif;
   font-size:.8rem;
   text-transform: uppercase;
 }
.section-contact__main-form label {
  display: block;
  margin:.5em 0 .125em 0;
}
.section-contact__main-form input, .section-contact__main-form select {
  width:50%;
}
 .section-contact__main-form textarea {
   width:90%;
   resize: none;
 }
 .section-contact__main-form__btn {
   padding:.125em .5em;
   box-sizing: border-box;
   background:white;
   border:1px solid #a9a9a9;
   text-transform: uppercase;

 }
.footer {
  width:100%;
  height:100%;
  padding:5vh 0 1em 0;
  background:#191923;
  color:#FFFFFF;
  position: relative;
}
.footer:before {
  position: absolute;
  content: '';
  top:-9.99vh;
  right:0;
  border-left:98vw solid transparent;
 border-bottom:10vh solid #191923;

}

.footer__main {
  display:flex;
  justify-content: space-between;;
}
.footer__main-item {
  flex:1;
  margin-right:1em;
}
.footer__main-item:last-child {
  margin:0;
}
.footer__main-socials {
  margin:0;
  list-style: none;
  display: flex;
  padding:0;
}
.footer__main-socials-item {
  flex:0 1 auto;
  align-self: center;
}
.footer__main-socials-item img {
  width:50%;
}
.footer__main-newsletter__list {
  padding-left:1em;
}
.footer__main-newsletter__list-item a {
  color:#ffffff;
  font-size:.9rem;
  font-family:"Francois One";
  text-decoration: none;
}
.footer__main-newsletter__list-item a:hover {
  color:#0E79B2;
}
.footer__main-adress dl {
  font-size:.8rem;
  font-family:"Francois One", sans-serif;
}
.footer__main-adress dt, .footer__main-adress dd {
  display: inline-block;
  padding:0;
  margin:0;
}
.footer__main-adress dt {
  font-size:.9rem;
  text-transform: uppercase;
}
.footer__main-title {
  font-size:1.4rem;
  border-bottom:3px solid white;
  margin-bottom:.5em;
}
.nav {
  width:100%;
  height:100vh;
  position: fixed;
  z-index: 999;
  left:0;
  opacity:0;
  top:0;
  display:none;
  transition: all 1s ease;
}
.nav.active-block {
  display: block;
}
.nav.active-opacity {
  opacity: 1;
}

.navbar {
  width:100%;
  padding:1em;
  box-sizing: border-box;
  margin:0;
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  background:rgba(25, 25, 35, .99);
}
.navbar-item {
  align-self: center;
  align-items: center;
  margin-bottom:1em;
}
.navbar-item:last-child{margin:0;}
.navbar-item a {
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size:1.8rem;
  font-family:"Anton";
}
.navbar-item.active a {
  color:#BF1363;
}
.navbar-item a:focus, .navbar-item a:hover {
outline:0;
color:#0E79B2;}
.button-menu-close {
  position: absolute;
  right:0.5em;
  top:0.25em;
  line-height: 1em;
  font-size:3rem;
  background:none;
  border:none;
  outline:none;
  cursor: pointer;
  color:#BF1363;
}
.button-menu-close:focus, .button-menu-close:hover {
  color:#0E79B2;
}


@media screen and (max-width:768px) {
  .container {width:90%;}
  .header__top-bar, .header__header, .section__cols {
    flex-direction: column;
  }
  .header__header__titles {
    margin:0;
    padding:0;
  }
  .header__top-bar__logo {
    text-align: center;
  }
  .header__top-bar__logo img {
    width:50%;
    margin:0 auto;
  }
  .header__top-bar__btn-menu {
    width:100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    order:3;
  }
  * {
    flex-direction: column;
  }
  .section > main img {
    width:100%;
    margin-top:.5em;
  }
  .section-about > main img {
    width:50%;
  }
  .section-ebook__main__list {
    margin-top:1em;
  }
  input.form-inpt, select.form-inpt, textarea.form-inpt {
    width:100%;
  }
  button.form-inpt {
    width:100%;
    margin-bottom:.25em;
  }
  .footer__main-socials {
    flex-direction: row;
    text-align: center;
  }
  .header__top-bar.sticky .header__top-bar__logo{
   display: none;
  }
}
