@media all and (max-width: 768px) {
  .header__header {
    width:100%;
    height:50vh;
    background-size: contain;
  }
  .car {
    width:100%;
    height:150px;
    transform:translateX(0);
    animation: driveLoading 3s linear infinite;
  }
  @keyframes moveLoading {

    0% {tranform:translateX(0%);}
    100% {transform:translateX(8%);}
  }


  @keyframes driveLoading {
    from {tranform:translateX(0%);}
    to {transform:translateX(80%);}
  }

  .bar {
    width:100%;

      animation: moveLoading 3s linear infinite;
    transform:translateX(-85%);
    border:2px solid white;
    transition:all 2s;
  }
  .header__header__speech, .header__header__speech-icons {
  background-size: contain;
  width:20%;
  }
  .header__header__speech-icons {
    width:25%;
  }
  .header__header__speech-1 {
    left:30%;
    top:38%;
  }

  .header__header__car {
    bottom:20%;
  }


  .header__topbar, .main__wrapper, .footer__wrapper {
    flex-direction: column;
  }

  .header__topbar > * {
    margin-bottom: .5em;
  }

  .header__topbar__logo {
    text-align: center;
  }
  .btn-closemenu {
    top:1em;
    right:1em;
  }
  .header__topbar__logo {
    order: 1;
  }
  .header__topbar__btn-menu {
    order:2;
  }

  .container {
    width:100%;
    padding:0 .5em;
    box-sizing: border-box;
  }

  .main__wrapper-item-3, .main__wrapper-item-4 {
      flex:1;
      min-height:25vh;
      width:100%;
      margin-bottom:1em;
    }
  .main__title {
    text-align: center;
  }
  .footer__wrapper-item {
    width:100%;
    margin-bottom:.5em;
  }
  .footer__wrapper__socials {
    justify-content: space-around;
  }
  .footer__wrapper__item-item {
    margin:0 .5em;
  }
  .footer__wrapper__item-item img {
    width:100%;
  }

}
